html, body, #root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}

.container {
  background: #0f172a;
  color: white;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  padding: 30px;
  font-size: 18px;
  border-radius: 12px;
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.08);
}

/* Chart */
.chartBox {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Sections */
.box {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.inputRow {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-left: 10px;
}

button {
  padding: 8px;
  margin-left: 5px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  background: #334155;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.item button:last-child {
  background: red;
}
